Repository Arcticons-Team/Arcticons-Linux: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate_mapping, sync_icons

validate_mapping:
  name: validate_mapping
  entry: scripts/validate_mapping.py --fix --file
  language: script

sync_icons:
  name: sync_icons
  entry: scripts/sync_icons.py --fix icons_linux
  language: script
  pass_filenames: false

Add check_icon_duplicates
  scripts/check_icon_duplicates.py
Due: none

Add check_icon_duplicates (#58)
  scripts/check_icon_duplicates.py
Due: none

Fix check_icon_duplicates
  scripts/check_icon_duplicates.py
Due: none

Fix check_icon_duplicates (#59)
  scripts/check_icon_duplicates.py
Due: none

Remove icon duplicates with Arcticons Android
  icons_linux/black/bonfire_peaks.svg
  icons_linux/black/broken_age.svg
  icons_linux/black/celeste.svg
  icons_linux/black/chicory_a_colorful_tale.svg
  icons_linux/black/creaks.svg
  icons_linux/black/duet.svg
  icons_linux/black/forza_motorsport.svg
  icons_linux/black/half_life.svg
  icons_linux/black/ori_and_the_blind_forest.svg
  icons_linux/black/sokpop.svg
  icons_linux/black/the_case_of_the_golden_idol.svg
  icons_linux/black/the_last_campfire.svg
  icons_linux/black/the_talos_principle.svg
  icons_linux/black/visual_studio_code.svg
  icons_linux/white/bonfire_peaks.svg
  icons_linux/white/broken_age.svg
  icons_linux/white/celeste.svg
  icons_linux/white/chicory_a_colorful_tale.svg
  icons_linux/white/creaks.svg
  icons_linux/white/duet.svg
  icons_linux/white/forza_motorsport.svg
  icons_linux/white/half_life.svg
  icons_linux/white/ori_and_the_blind_forest.svg
  icons_linux/white/sokpop.svg
  icons_linux/white/the_case_of_the_golden_idol.svg
  icons_linux/white/the_last_campfire.svg
  icons_linux/white/the_talos_principle.svg
  icons_linux/white/visual_studio_code.svg
Due: sync_icons

Remove icon duplicates with Arcticons Android (#60)
  icons_linux/black/bonfire_peaks.svg
  icons_linux/black/broken_age.svg
  icons_linux/black/celeste.svg
  icons_linux/black/chicory_a_colorful_tale.svg
  icons_linux/black/creaks.svg
  icons_linux/black/duet.svg
  icons_linux/black/forza_motorsport.svg
  icons_linux/black/half_life.svg
  icons_linux/black/ori_and_the_blind_forest.svg
  icons_linux/black/sokpop.svg
  icons_linux/black/the_case_of_the_golden_idol.svg
  icons_linux/black/the_last_campfire.svg
  icons_linux/black/the_talos_principle.svg
  icons_linux/black/visual_studio_code.svg
  icons_linux/white/bonfire_peaks.svg
  icons_linux/white/broken_age.svg
  icons_linux/white/celeste.svg
  icons_linux/white/chicory_a_colorful_tale.svg
  icons_linux/white/creaks.svg
  icons_linux/white/duet.svg
  icons_linux/white/forza_motorsport.svg
  icons_linux/white/half_life.svg
  icons_linux/white/ori_and_the_blind_forest.svg
  icons_linux/white/sokpop.svg
  icons_linux/white/the_case_of_the_golden_idol.svg
  icons_linux/white/the_last_campfire.svg
  icons_linux/white/the_talos_principle.svg
  icons_linux/white/visual_studio_code.svg
Due: sync_icons

Move Workflow to correct folder
  .github/workflows/main.yaml
Due: none

Move Workflow to correct folder (#61)
  .github/workflows/main.yaml
Due: none

Remove more duplicates to Arcticons Android icons
  arcticons-dark/scalable/apps/gufw.svg
  arcticons-dark/scalable/apps/obsidian.svg
  arcticons-dark/scalable/preferences/preferences-desktop-feedback.svg
  arcticons-dark/scalable/preferences/preferences-desktop-navigation.svg
  arcticons-dark/symbolic/apps/gufw-symbolic.svg
  arcticons-dark/symbolic/apps/obsidian-symbolic.svg
  arcticons-dark/symbolic/preferences/preferences-desktop-feedback-symbolic.svg
  arcticons-dark/symbolic/preferences/preferences-desktop-navigation-symbolic.svg
  arcticons-light/scalable/apps/gufw.svg
  arcticons-light/scalable/apps/obsidian.svg
  arcticons-light/scalable/preferences/preferences-desktop-feedback.svg
  arcticons-light/scalable/preferences/preferences-desktop-navigation.svg
  arcticons-light/symbolic/apps/gufw-symbolic.svg
  arcticons-light/symbolic/apps/obsidian-symbolic.svg
  arcticons-light/symbolic/preferences/preferences-desktop-feedback-symbolic.svg
  arcticons-light/symbolic/preferences/preferences-desktop-navigation-symbolic.svg
  icons_linux/black/compass.svg
  icons_linux/black/fedora.svg
  icons_linux/black/feedback.svg
  icons_linux/black/hue_game.svg
  icons_linux/black/network.svg
  icons_linux/black/obsidian.svg
  icons_linux/black/reboot_system.svg
  icons_linux/black/shield.svg
  icons_linux/white/compass.svg
  icons_linux/white/fedora.svg
  icons_linux/white/feedback.svg
  icons_linux/white/hue_game.svg
  icons_linux/white/network.svg
  icons_linux/white/obsidian.svg
  icons_linux/white/reboot_system.svg
  icons_linux/white/shield.svg
  mapping.yaml
Due: validate_mapping, sync_icons

Remove more duplicates to Arcticons Android icons (#62)
  arcticons-dark/scalable/apps/gufw.svg
  arcticons-dark/scalable/apps/obsidian.svg
  arcticons-dark/scalable/preferences/preferences-desktop-feedback.svg
  arcticons-dark/scalable/preferences/preferences-desktop-navigation.svg
  arcticons-dark/symbolic/apps/gufw-symbolic.svg
  arcticons-dark/symbolic/apps/obsidian-symbolic.svg
  arcticons-dark/symbolic/preferences/preferences-desktop-feedback-symbolic.svg
  arcticons-dark/symbolic/preferences/preferences-desktop-navigation-symbolic.svg
  arcticons-light/scalable/apps/gufw.svg
  arcticons-light/scalable/apps/obsidian.svg
  arcticons-light/scalable/preferences/preferences-desktop-feedback.svg
  arcticons-light/scalable/preferences/preferences-desktop-navigation.svg
  arcticons-light/symbolic/apps/gufw-symbolic.svg
  arcticons-light/symbolic/apps/obsidian-symbolic.svg
  arcticons-light/symbolic/preferences/preferences-desktop-feedback-symbolic.svg
  arcticons-light/symbolic/preferences/preferences-desktop-navigation-symbolic.svg
  icons_linux/black/compass.svg
  icons_linux/black/fedora.svg
  icons_linux/black/feedback.svg
  icons_linux/black/hue_game.svg
  icons_linux/black/network.svg
  icons_linux/black/obsidian.svg
  icons_linux/black/reboot_system.svg
  icons_linux/black/shield.svg
  icons_linux/white/compass.svg
  icons_linux/white/fedora.svg
  icons_linux/white/feedback.svg
  icons_linux/white/hue_game.svg
  icons_linux/white/network.svg
  icons_linux/white/obsidian.svg
  icons_linux/white/reboot_system.svg
  icons_linux/white/shield.svg
  mapping.yaml
Due: validate_mapping, sync_icons

Update README.md
  README.md
Due: none

Update README.md (#63)
  README.md
Due: none

Remove duplicates with Arcticons Android
  icons_linux/black/backup.svg
  icons_linux/black/gcompris.svg
  icons_linux/black/localsend.svg
  icons_linux/black/microsoft_planner.svg
  icons_linux/black/scanner.svg
  icons_linux/black/spotify.svg
  icons_linux/black/torbrowser.svg
  icons_linux/black/whatsapp.svg
  icons_linux/white/backup.svg
  icons_linux/white/gcompris.svg
  icons_linux/white/localsend.svg
  icons_linux/white/microsoft_planner.svg
  icons_linux/white/scanner.svg
  icons_linux/white/spotify.svg
  icons_linux/white/torbrowser.svg
  icons_linux/white/whatsapp.svg
Due: sync_icons

clean up the mappings
  icons_linux/black/calendar_google.svg
  icons_linux/black/photo.svg
  icons_linux/white/calendar_google.svg
  icons_linux/white/photo.svg
  mapping.yaml
Due: validate_mapping, sync_icons

Add mappings for lagrange
  arcticons-dark/scalable/apps/fi.skyjake.Lagrange.svg
  arcticons-dark/symbolic/apps/fi.skyjake.Lagrange-symbolic.svg
  arcticons-light/scalable/apps/fi.skyjake.Lagrange.svg
  arcticons-light/symbolic/apps/fi.skyjake.Lagrange-symbolic.svg
  mapping.yaml
Due: validate_mapping

Add mappings for lagrange (#64)
  arcticons-dark/scalable/apps/fi.skyjake.Lagrange.svg
  arcticons-dark/symbolic/apps/fi.skyjake.Lagrange-symbolic.svg
  arcticons-light/scalable/apps/fi.skyjake.Lagrange.svg
  arcticons-light/symbolic/apps/fi.skyjake.Lagrange-symbolic.svg
  mapping.yaml
Due: validate_mapping

edit github workflow
  .github/workflows/main.yaml
Due: none

fix
  .github/workflows/main.yaml
Due: none

fix KeepassXC icon color
  arcticons-dark/scalable/apps/keepassxc.svg
  arcticons-dark/symbolic/apps/keepassxc-symbolic.svg
  arcticons-light/scalable/apps/keepassxc.svg
  arcticons-light/symbolic/apps/keepassxc-symbolic.svg
  icons_linux/keepassxc.svg
Due: sync_icons

fix KeepassXC icon color (#66)
  arcticons-dark/scalable/apps/keepassxc.svg
  arcticons-dark/symbolic/apps/keepassxc-symbolic.svg
  arcticons-light/scalable/apps/keepassxc.svg
  arcticons-light/symbolic/apps/keepassxc-symbolic.svg
  icons_linux/keepassxc.svg
Due: sync_icons

Add clock and emoji selector mappings
  arcticons-dark/scalable/apps/emoji-selector.svg
  arcticons-dark/scalable/apps/org.kde.kclock.svg
  arcticons-dark/scalable/apps/org.kde.plasma.analogclock.svg
  arcticons-dark/scalable/apps/preferences-desktop-emoticons.svg
  arcticons-dark/scalable/apps/xfce4-clock.svg
  arcticons-dark/symbolic/apps/emoji-selector-symbolic.svg
  arcticons-dark/symbolic/apps/org.kde.kclock-symbolic.svg
  arcticons-dark/symbolic/apps/org.kde.plasma.analogclock-symbolic.svg
  arcticons-dark/symbolic/apps/preferences-desktop-emoticons-symbolic.svg
  arcticons-dark/symbolic/apps/xfce4-clock-symbolic.svg
  arcticons-light/scalable/apps/emoji-selector.svg
  arcticons-light/scalable/apps/org.kde.kclock.svg
  arcticons-light/scalable/apps/org.kde.plasma.analogclock.svg
  arcticons-light/scalable/apps/preferences-desktop-emoticons.svg
  arcticons-light/scalable/apps/xfce4-clock.svg
  arcticons-light/symbolic/apps/emoji-selector-symbolic.svg
  arcticons-light/symbolic/apps/org.kde.kclock-symbolic.svg
  arcticons-light/symbolic/apps/org.kde.plasma.analogclock-symbolic.svg
  arcticons-light/symbolic/apps/preferences-desktop-emoticons-symbolic.svg
  arcticons-light/symbolic/apps/xfce4-clock-symbolic.svg
  mapping.yaml
Due: validate_mapping

Add clock and emoji selector mappings (#67)
  arcticons-dark/scalable/apps/emoji-selector.svg
  arcticons-dark/scalable/apps/org.kde.kclock.svg
  arcticons-dark/scalable/apps/org.kde.plasma.analogclock.svg
  arcticons-dark/scalable/apps/preferences-desktop-emoticons.svg
  arcticons-dark/scalable/apps/xfce4-clock.svg
  arcticons-dark/symbolic/apps/emoji-selector-symbolic.svg
  arcticons-dark/symbolic/apps/org.kde.kclock-symbolic.svg
  arcticons-dark/symbolic/apps/org.kde.plasma.analogclock-symbolic.svg
  arcticons-dark/symbolic/apps/preferences-desktop-emoticons-symbolic.svg
  arcticons-dark/symbolic/apps/xfce4-clock-symbolic.svg
  arcticons-light/scalable/apps/emoji-selector.svg
  arcticons-light/scalable/apps/org.kde.kclock.svg
  arcticons-light/scalable/apps/org.kde.plasma.analogclock.svg
  arcticons-light/scalable/apps/preferences-desktop-emoticons.svg
  arcticons-light/scalable/apps/xfce4-clock.svg
  arcticons-light/symbolic/apps/emoji-selector-symbolic.svg
  arcticons-light/symbolic/apps/org.kde.kclock-symbolic.svg
  arcticons-light/symbolic/apps/org.kde.plasma.analogclock-symbolic.svg
  arcticons-light/symbolic/apps/preferences-desktop-emoticons-symbolic.svg
  arcticons-light/symbolic/apps/xfce4-clock-symbolic.svg
  mapping.yaml
Due: validate_mapping

icon_search: analyze desktop files
  scripts/icon_search.py
Due: none

icon_search: analyze desktop files (#68)
  scripts/icon_search.py
Due: none

feat: Added r2modman icon.
  arcticons-dark/scalable/apps/r2modman.svg
  arcticons-dark/symbolic/apps/r2modman-symbolic.svg
  arcticons-light/scalable/apps/r2modman.svg
  arcticons-light/symbolic/apps/r2modman-symbolic.svg
  icons_linux/r2modman.svg
  mapping.yaml
Due: validate_mapping, sync_icons

feat: Added r2modman icon.
  arcticons-dark/scalable/apps/r2modman.svg
  arcticons-dark/symbolic/apps/r2modman-symbolic.svg
  arcticons-light/scalable/apps/r2modman.svg
  arcticons-light/symbolic/apps/r2modman-symbolic.svg
  icons_linux/r2modman.svg
Due: sync_icons

Add new Icon (#69)
  arcticons-dark/scalable/apps/r2modman.svg
  arcticons-dark/symbolic/apps/r2modman-symbolic.svg
  arcticons-light/scalable/apps/r2modman.svg
  arcticons-light/symbolic/apps/r2modman-symbolic.svg
  icons_linux/r2modman.svg
  mapping.yaml
Due: validate_mapping, sync_icons

Add deep desktop file search to icon_search
  scripts/icon_search.py
Due: none

More mappings
  mapping.yaml
Due: validate_mapping

Add deep desktop file search to icon_search (#70)
  scripts/icon_search.py
Due: none

generate icons
  arcticons-dark/scalable/apps/lutris_stardew-valley.svg
  arcticons-dark/scalable/apps/stardew-valley.svg
  arcticons-dark/scalable/apps/steam_icon_1942280.svg
  arcticons-dark/scalable/apps/steam_icon_413150.svg
  arcticons-dark/scalable/devices/preferences-devices-printer.svg
  arcticons-dark/scalable/emblems/emblem-xapp-favorite.svg
  arcticons-dark/scalable/places/xapp-user-favorites.svg
  arcticons-dark/symbolic/apps/lutris_stardew-valley-symbolic.svg
  arcticons-dark/symbolic/apps/stardew-valley-symbolic.svg
  arcticons-dark/symbolic/apps/steam_icon_1942280-symbolic.svg
  arcticons-dark/symbolic/apps/steam_icon_413150-symbolic.svg
  arcticons-dark/symbolic/devices/preferences-devices-printer-symbolic.svg
  arcticons-dark/symbolic/emblems/emblem-xapp-favorite-symbolic.svg
  arcticons-dark/symbolic/places/xapp-user-favorites-symbolic.svg
  arcticons-light/scalable/apps/lutris_stardew-valley.svg
  arcticons-light/scalable/apps/stardew-valley.svg
  arcticons-light/scalable/apps/steam_icon_1942280.svg
  arcticons-light/scalable/apps/steam_icon_413150.svg
  arcticons-light/scalable/devices/preferences-devices-printer.svg
  arcticons-light/scalable/emblems/emblem-favorite.svg
  arcticons-light/scalable/emblems/emblem-xapp-favorite.svg
  arcticons-light/scalable/places/xapp-user-favorites.svg
  arcticons-light/symbolic/apps/lutris_stardew-valley-symbolic.svg
  arcticons-light/symbolic/apps/stardew-valley-symbolic.svg
  arcticons-light/symbolic/apps/steam_icon_1942280-symbolic.svg
  arcticons-light/symbolic/apps/steam_icon_413150-symbolic.svg
  arcticons-light/symbolic/devices/preferences-devices-printer-symbolic.svg
  arcticons-light/symbolic/emblems/emblem-favorite-symbolic.svg
  arcticons-light/symbolic/emblems/emblem-xapp-favorite-symbolic.svg
  arcticons-light/symbolic/places/xapp-user-favorites-symbolic.svg
Due: none

More mappings (#71)
  arcticons-dark/scalable/apps/lutris_stardew-valley.svg
  arcticons-dark/scalable/apps/stardew-valley.svg
  arcticons-dark/scalable/apps/steam_icon_1942280.svg
  arcticons-dark/scalable/apps/steam_icon_413150.svg
  arcticons-dark/scalable/devices/preferences-devices-printer.svg
  arcticons-dark/scalable/emblems/emblem-xapp-favorite.svg
  arcticons-dark/scalable/places/xapp-user-favorites.svg
  arcticons-dark/symbolic/apps/lutris_stardew-valley-symbolic.svg
  arcticons-dark/symbolic/apps/stardew-valley-symbolic.svg
  arcticons-dark/symbolic/apps/steam_icon_1942280-symbolic.svg
  arcticons-dark/symbolic/apps/steam_icon_413150-symbolic.svg
  arcticons-dark/symbolic/devices/preferences-devices-printer-symbolic.svg
  arcticons-dark/symbolic/emblems/emblem-xapp-favorite-symbolic.svg
  arcticons-dark/symbolic/places/xapp-user-favorites-symbolic.svg
  arcticons-light/scalable/apps/lutris_stardew-valley.svg
  arcticons-light/scalable/apps/stardew-valley.svg
  arcticons-light/scalable/apps/steam_icon_1942280.svg
  arcticons-light/scalable/apps/steam_icon_413150.svg
  arcticons-light/scalable/devices/preferences-devices-printer.svg
  arcticons-light/scalable/emblems/emblem-favorite.svg
  arcticons-light/scalable/emblems/emblem-xapp-favorite.svg
  arcticons-light/scalable/places/xapp-user-favorites.svg
  arcticons-light/symbolic/apps/lutris_stardew-valley-symbolic.svg
  arcticons-light/symbolic/apps/stardew-valley-symbolic.svg
  arcticons-light/symbolic/apps/steam_icon_1942280-symbolic.svg
  arcticons-light/symbolic/apps/steam_icon_413150-symbolic.svg
  arcticons-light/symbolic/devices/preferences-devices-printer-symbolic.svg
  arcticons-light/symbolic/emblems/emblem-favorite-symbolic.svg
  arcticons-light/symbolic/emblems/emblem-xapp-favorite-symbolic.svg
  arcticons-light/symbolic/places/xapp-user-favorites-symbolic.svg
  mapping.yaml
Due: validate_mapping

more mappings
  arcticons-dark/scalable/apps/kaddressbook.svg
  arcticons-dark/scalable/apps/steam_icon_1304550.svg
  arcticons-dark/symbolic/apps/kaddressbook-symbolic.svg
  arcticons-dark/symbolic/apps/steam_icon_1304550-symbolic.svg
  arcticons-light/scalable/apps/kaddressbook.svg
  arcticons-light/scalable/apps/steam_icon_1304550.svg
  arcticons-light/symbolic/apps/kaddressbook-symbolic.svg
  arcticons-light/symbolic/apps/steam_icon_1304550-symbolic.svg
  mapping.yaml
Due: validate_mapping

more mappings (#72)
  arcticons-dark/scalable/apps/kaddressbook.svg
  arcticons-dark/scalable/apps/steam_icon_1304550.svg
  arcticons-dark/symbolic/apps/kaddressbook-symbolic.svg
  arcticons-dark/symbolic/apps/steam_icon_1304550-symbolic.svg
  arcticons-light/scalable/apps/kaddressbook.svg
  arcticons-light/scalable/apps/steam_icon_1304550.svg
  arcticons-light/symbolic/apps/kaddressbook-symbolic.svg
  arcticons-light/symbolic/apps/steam_icon_1304550-symbolic.svg
  mapping.yaml
Due: validate_mapping

scripts/generate_icons.py: mark --config-file argument as required
  scripts/generate_icons.py
Due: none

Add mapping for clagrange
  arcticons-dark/scalable/apps/fi.skyjake.clagrange.svg
  arcticons-dark/symbolic/apps/fi.skyjake.clagrange-symbolic.svg
  arcticons-light/scalable/apps/fi.skyjake.clagrange.svg
  arcticons-light/symbolic/apps/fi.skyjake.clagrange-symbolic.svg
  mapping.yaml
Due: validate_mapping

Path conditions:
  validate_mapping: any of: mapping.yaml
  sync_icons: any of: ^icons_linux/.*\.svg$
