Repository Arcticons-Team/Arcticons-Linux: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate_mapping, sync_icons

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: local
    hooks:
      - id: validate_mapping
        name: validate_mapping
        entry: scripts/validate_mapping.py --fix --file
        language: script
        files: mapping.yaml
      - id: sync_icons
        name: sync_icons
        entry: scripts/sync_icons.py --fix icons_linux
        language: script
        pass_filenames: false
        files: ^icons_linux/.*\.svg$

Add mapping for clagrange (#74)
  arcticons-dark/scalable/apps/fi.skyjake.clagrange.svg
  arcticons-dark/symbolic/apps/fi.skyjake.clagrange-symbolic.svg
  arcticons-light/scalable/apps/fi.skyjake.clagrange.svg
  arcticons-light/symbolic/apps/fi.skyjake.clagrange-symbolic.svg
  mapping.yaml
Due: validate_mapping

New icon generation
  arcticons-dark/scalable/mimetypes/application-json.svg
Due: none

restructure of repo
  arcticons-dark/symbolic/mimetypes/application-octet-stream.svg
Due: none

Delete arcticons-dark/symbolic/mimetypes/application-octet-stream.svg
  arcticons-dark/symbolic/mimetypes/application-octet-stream.svg
Due: none

Add Qalculate
  icons_linux/qalculate.svg
  mapping.yaml
Due: validate_mapping, sync_icons

generate icons
  arcticons-dark/scalable/apps/qalculate.svg
  arcticons-dark/symbolic/apps/qalculate-symbolic.svg
  arcticons-light/scalable/apps/qalculate.svg
  arcticons-light/symbolic/apps/qalculate-symbolic.svg
Due: none

Add Qalculate (#76)
  arcticons-dark/scalable/apps/qalculate.svg
  arcticons-dark/symbolic/apps/qalculate-symbolic.svg
  arcticons-light/scalable/apps/qalculate.svg
  arcticons-light/symbolic/apps/qalculate-symbolic.svg
  icons_linux/qalculate.svg
  mapping.yaml
Due: validate_mapping, sync_icons

Update README.md
  README.md
Due: none

Update README.md (#78)
  README.md
Due: none

Add new telegram mapping, bump python version
  .python-version
  arcticons-dark/scalable/apps/org.telegram.desktop.svg
  arcticons-dark/symbolic/apps/org.telegram.desktop-symbolic.svg
  arcticons-light/scalable/apps/org.telegram.desktop.svg
  arcticons-light/symbolic/apps/org.telegram.desktop-symbolic.svg
  mapping.yaml
Due: validate_mapping

Add new telegram mapping, bump python version (#82)
  .python-version
  arcticons-dark/scalable/apps/org.telegram.desktop.svg
  arcticons-dark/symbolic/apps/org.telegram.desktop-symbolic.svg
  arcticons-light/scalable/apps/org.telegram.desktop.svg
  arcticons-light/symbolic/apps/org.telegram.desktop-symbolic.svg
  mapping.yaml
Due: validate_mapping

Update mapping.yaml
  mapping.yaml
Due: validate_mapping

Fix mapping, python scripts, update icons
  arcticons-dark/scalable/mimetypes/text-x-generic.svg
  arcticons-dark/scalable/mimetypes/unknown.svg
  arcticons-dark/scalable/mimetypes/x-office-document.svg
  arcticons-dark/scalable/places/folder-documents.svg
  arcticons-dark/scalable/preferences/preferences-document.svg
  arcticons-dark/symbolic/mimetypes/text-x-generic-symbolic.svg
  arcticons-dark/symbolic/mimetypes/unknown-symbolic.svg
  arcticons-dark/symbolic/mimetypes/x-office-document-symbolic.svg
  arcticons-dark/symbolic/places/folder-documents-symbolic.svg
  arcticons-dark/symbolic/preferences/preferences-document-symbolic.svg
  arcticons-light/scalable/mimetypes/text-x-generic.svg
  arcticons-light/scalable/mimetypes/unknown.svg
  arcticons-light/scalable/mimetypes/x-office-document.svg
  arcticons-light/scalable/places/folder-documents.svg
  arcticons-light/scalable/preferences/preferences-document.svg
  arcticons-light/symbolic/mimetypes/text-x-generic-symbolic.svg
  arcticons-light/symbolic/mimetypes/unknown-symbolic.svg
  arcticons-light/symbolic/mimetypes/x-office-document-symbolic.svg
  arcticons-light/symbolic/places/folder-documents-symbolic.svg
  arcticons-light/symbolic/preferences/preferences-document-symbolic.svg
  mapping.yaml
  pyproject.toml
  scripts/check_icon_duplicates.py
  scripts/generate_icons.py
  scripts/icon_search.py
  scripts/sync_icons.py
  scripts/validate_mapping.py
Due: validate_mapping

Fix mapping, python scripts, update icons (#88)
  arcticons-dark/scalable/mimetypes/text-x-generic.svg
  arcticons-dark/scalable/mimetypes/unknown.svg
  arcticons-dark/scalable/mimetypes/x-office-document.svg
  arcticons-dark/scalable/places/folder-documents.svg
  arcticons-dark/scalable/preferences/preferences-document.svg
  arcticons-dark/symbolic/mimetypes/text-x-generic-symbolic.svg
  arcticons-dark/symbolic/mimetypes/unknown-symbolic.svg
  arcticons-dark/symbolic/mimetypes/x-office-document-symbolic.svg
  arcticons-dark/symbolic/places/folder-documents-symbolic.svg
  arcticons-dark/symbolic/preferences/preferences-document-symbolic.svg
  arcticons-light/scalable/mimetypes/text-x-generic.svg
  arcticons-light/scalable/mimetypes/unknown.svg
  arcticons-light/scalable/mimetypes/x-office-document.svg
  arcticons-light/scalable/places/folder-documents.svg
  arcticons-light/scalable/preferences/preferences-document.svg
  arcticons-light/symbolic/mimetypes/text-x-generic-symbolic.svg
  arcticons-light/symbolic/mimetypes/unknown-symbolic.svg
  arcticons-light/symbolic/mimetypes/x-office-document-symbolic.svg
  arcticons-light/symbolic/places/folder-documents-symbolic.svg
  arcticons-light/symbolic/preferences/preferences-document-symbolic.svg
  mapping.yaml
  pyproject.toml
  scripts/check_icon_duplicates.py
  scripts/generate_icons.py
  scripts/icon_search.py
  scripts/sync_icons.py
  scripts/validate_mapping.py
Due: validate_mapping

add new musescore studio icon and new mappings
  icons_linux/mscore4portable.svg
  mapping.yaml
Due: validate_mapping, sync_icons

Fix CI pipeline
  .github/workflows/main.yaml
Due: none

Fix CI pipeline (#90)
  .github/workflows/main.yaml
Due: none

Fix mapping yaml
  mapping.yaml
Due: validate_mapping

Fix icon
  arcticons-dark/scalable/apps/mscore4portable.svg
  arcticons-dark/symbolic/apps/mscore4portable-symbolic.svg
  arcticons-light/scalable/apps/mscore4portable.svg
  arcticons-light/symbolic/apps/mscore4portable-symbolic.svg
  icons_linux/mscore4portable.svg
Due: sync_icons

sort
  mapping.yaml
Due: validate_mapping

Add 6 app icons
  icons_linux/gnome-tweaks.svg
  icons_linux/meld.svg
  icons_linux/obs.svg
  icons_linux/rnote.svg
  icons_linux/spotify-qt.svg
  icons_linux/touhou_danmaku_kagura_phantasia_lost.svg
  mapping.yaml
Due: validate_mapping, sync_icons

generate icons
  arcticons-dark/scalable/apps/obs.svg
  arcticons-dark/scalable/apps/org.gnome.Meld.svg
  arcticons-dark/scalable/apps/org.gnome.Papers.svg
  arcticons-dark/scalable/apps/org.gnome.Settings-applications.svg
  arcticons-dark/scalable/apps/org.gnome.tweaks.svg
  arcticons-dark/scalable/apps/rnote.svg
  arcticons-dark/scalable/apps/spotify-qt.svg
  arcticons-dark/scalable/apps/steam_icon_2190220.svg
  arcticons-dark/scalable/devices/drive-removable-media.svg
  arcticons-dark/symbolic/apps/obs-symbolic.svg
  arcticons-dark/symbolic/apps/org.gnome.Meld-symbolic.svg
  arcticons-dark/symbolic/apps/org.gnome.Papers-symbolic.svg
  arcticons-dark/symbolic/apps/org.gnome.Settings-applications-symbolic.svg
  arcticons-dark/symbolic/apps/org.gnome.tweaks-symbolic.svg
  arcticons-dark/symbolic/apps/rnote-symbolic.svg
  arcticons-dark/symbolic/apps/spotify-qt-symbolic.svg
  arcticons-dark/symbolic/apps/steam_icon_2190220-symbolic.svg
  arcticons-dark/symbolic/devices/drive-removable-media-symbolic.svg
  arcticons-light/scalable/apps/obs.svg
  arcticons-light/scalable/apps/org.gnome.Meld.svg
  arcticons-light/scalable/apps/org.gnome.Papers.svg
  arcticons-light/scalable/apps/org.gnome.Settings-applications.svg
  arcticons-light/scalable/apps/org.gnome.tweaks.svg
  arcticons-light/scalable/apps/rnote.svg
  arcticons-light/scalable/apps/spotify-qt.svg
  arcticons-light/scalable/apps/steam_icon_2190220.svg
  arcticons-light/scalable/devices/drive-removable-media.svg
  arcticons-light/symbolic/apps/obs-symbolic.svg
  arcticons-light/symbolic/apps/org.gnome.Meld-symbolic.svg
  arcticons-light/symbolic/apps/org.gnome.Papers-symbolic.svg
  arcticons-light/symbolic/apps/org.gnome.Settings-applications-symbolic.svg
  arcticons-light/symbolic/apps/org.gnome.tweaks-symbolic.svg
  arcticons-light/symbolic/apps/rnote-symbolic.svg
  arcticons-light/symbolic/apps/spotify-qt-symbolic.svg
  arcticons-light/symbolic/apps/steam_icon_2190220-symbolic.svg
  arcticons-light/symbolic/devices/drive-removable-media-symbolic.svg
Due: none
